.container {
  display: flex;
  height: 100vh;
}

.left-container {
  flex: 1;
  background-color: #fff;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #31a2c8b2;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

button {
  background-color: #fff;
  color: #000000;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  width: 80%;
  height: 80%;
  font-size: 24px;
  border-radius: 5px;
}

textarea::placeholder {
  text-align: center;
}